{% extends "padre.html" %}

{% load static %}

{% block title %}
Cambiar contrasenia
{% endblock %}


{% block content %}
<head>

    <title>Agregar capitulo | Administración de sitio Django</title>

    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">



    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">


</head>

<body id="page-top">

    <section id="perfil" class="about-mf sect-pt4 route">
        <div class="box-shadow-full">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Cambiar Contraseña</h2>
                    
                    <form method="post"><input type="hidden">
                        {% csrf_token %}
                        <div>
                            


                            <p>Por favor, por razones de seguridad, introduzca primero su contraseña antigua y luego
                                introduzca la nueva contraseña dos veces para verificar que la ha escrito correctamente.
                            </p>

                            <fieldset class="module aligned wide">

                                <div class="form-row">

                                    <label class="required" for="id_old_password">Contraseña antigua:</label> <input
                                        type="password" name="old_password" autocomplete="current-password" autofocus
                                        required id="id_old_password">
                                </div>

                                <div class="form-row">

                                    <label class="required" for="id_new_password1">Contraseña nueva:</label> <input
                                        type="password" name="new_password1" autocomplete="new-password" required
                                        id="id_new_password1">

                                    <div class="help">
                                        <ul>
                                            
                                            <li>Su contraseña debe contener por lo menos 8 caracteres.</li>
                                            <li>Su contraseña no puede ser una contraseña usada muy comúnmente.</li>
                                            <li>Su contraseña no puede estar formada exclusivamente por números.</li>
                                        </ul>
                                    </div>

                                </div>

                                <div class="form-row">

                                    <label class="required" for="id_new_password2">Confirmación de contraseña
                                        nueva:</label> <input type="password" name="new_password2"
                                        autocomplete="new-password" required id="id_new_password2">

                                </div>

                            </fieldset>

                            
                                <input type="submit" value="Cambiar mi contraseña" class=" default btn btn-danger">
                            </div>

                        </div>
                    </form>
                </div>
    </section>
    {% endblock %}