{% extends "padre.html" %}
{% block title %}
EDIT PROFILE || {{block.super}}
{% endblock %}



{% block content %}

<section class="contenido wrapper">
    <h2>Editando perfil</h2>
        
<form action ="." method="post" enctype="multipart/form-data">
   
    {% csrf_token %}
    {{user_form.as_p}}
    {{profile_form.as_p}}

    {%  if not soyValido  %}
        <p><strong>Datos ingresados no correctos</strong></p>

    {% endif %}
  

    <button type="submit" >Guardar cambios</button>
    <button type="reset" onclick="window.location.href = '/profile';">Volver</button>
 
</form>




<p><p>
</section>
{% endblock %}