{% extends "padre.html" %}

{% load static %}


{% block title %}
Perfil
{% endblock %}


{% block content %}



<!--/ Section Profile Start /-->

<body id="page-top">

  <section id="perfil" class="about-mf sect-pt4 route">

    <div class="box-shadow-full">
      <div class="row">
        <div class="col-sm-12">


          <h2>Datos de perfil: </h2>
          {% if foto_perfil %}
          {% static "" as baseUrl %}
          <img src="{{ baseUrl }}{{foto_perfil}}" heigth="100" width="240">
          {% endif %}
          <p>Nickname: {{nickname}}</p>
          {% if not fecha_nacimiento == None %}
          <p>Fecha nacimiento: {{fecha_nacimiento}}</p>

          {% endif %}
          <hr>
          <h2>Datos de cuenta: </h2>
          <p>Username: {{request.user.username }}</p>
          <p>Nombre: {{request.user.first_name }}</p>
          <p>Apellido: {{request.user.last_name }}</p>
          <p>Email: {{request.user.email }}</p>





          <a href="edit_profile">Editar</a>
          <button class='btn btn-outline-danger' type="reset" onclick="window.location.href = 'desactivar_perfil/{{request.session.perfil}}'">Desactivar Perfil</button>
    


        </div>

      </div>
    </div>


    </div>
    </div>
  </section>

  <!--/ Section Profile End /-->





  {% endblock %}
