{% extends "padre.html" %}

{% load static %}


{% block title %}
Perfil
{% endblock %}


{% block content %}



<body id="page-top">

<section id="perfil" class="about-mf sect-pt4 route">
    
    <div class="box-shadow-full">
      <div class="row">
        <div class="col-sm-12">
        <h2>Registrar usuario</h2>

        <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Registrar</button>
        </form>

        <hr />

<a href="/login">Iniciar sesión</a>
</section>
{% endblock %}
