{% extends 'admin/base_site.html' %}

{% load static %}

{% block usertools %}
<div id="user-tools">
    Bienvenido/a,
    <strong>{{request.user.username }}</strong>.



    <a href="/">Ver sitio</a> /






        <a href="/admin/informe_usuario">Informe Usuarios</a> /
        <a href="/admin/informe_libro">Informe Libros</a> /

        <a href="/admin/password_change/">Cambiar contraseña</a> /

        <a href="/admin/logout/">Cerrar sesión</a>

    </div>
    {% endblock%}