<head>

    <title>Agregar capitulo | Administración de sitio Django</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">


    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">


</head>

<body>
    <!-- Content -->
    <div id="content" class="colM">

        <h1>Modificar capitulo</h1>
        <div id="content-main">
            {% if ya_existe %}
            <ul class="errorlist">
                <li>Ya existe un capitulo  con el mismo numero</li>
            </ul>
            {% endif %}

            {% if superaste_el_maximo %}
            <ul class="errorlist">
                <li>El numero que ingresaste de capitulo es mayor a la cantidad de capitulos que tiene el libro</li>
            </ul>
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
                {{form.as_p}}
                {% csrf_token %}
                <input type="submit" value="Guardar">
            </form>
        </div>
    </div>



</body>
<!-- END Container -->
