{% extends "padre.html" %}

{% load static %}


{% block title %}
Historial
{% endblock %}


{% block content %}



<body id="page-top">
  <section id="perfil" class="about-mf sect-pt4 route">
    <div class="box-shadow-full">
      <div class="row">
        <div class="col-sm-12">
          <h1>Historial</h1>
          <br />
          <ul>
            {% for  libro_historial in historiales %}
            <li><a href="/libro/{{libro_historial.libro.id}}">{{libro_historial.libro.nombre}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
  
  {% endblock %}