{% extends "padre.html" %}

{% load static %}


{% block title %}
Help
{% endblock %}


{% block content %}


<img class="marca" src="../{{libro.foto}}" alt="Portada">
<body id="page-top">
<section id="perfil" class="row" >
	<div class="columna1">
		<div class="primeraColumna">
			<!-- Editorial -->
			<p class="editorial">Editorial {{libro.editorial}}</p>
			<!-- Portada -->
			<img class="portada" src="../{{libro.foto}}" alt="Portada">
			<!-- Contenido -->
			<p class="contenido"> {{libro.cant_paginas}} paginas en {{ libro.numero_de_capitulos }} capitulos </p>
			<!-- Contenido -->
			<p class="genero">
				{% for  genero in libro.genero.all%}
					{% if forloop.counter > 1 %} , {% endif %}
					{{genero.nombre}}
				{% endfor %}
			</p>
			<!-- Puntaje -->
			<div class="calificacion">
					{%if punt%}
						<a
						href="{%if not punt.like%} /borrarpuntaje/{{libro.id}} {%endif%}"><i
						class="fa fa-thumbs-down fa-3x {%if not punt.like%} activado {%else%} desactivado {%endif%}"></i></a>
						<a href="{%if punt.like%} /borrarpuntaje/{{libro.id}} {%endif%}"><i
						class="fa fa-thumbs-up fa-3x {%if punt.like%} activado {%else%} desactivado {%endif%}"></i> </a>
					{%else%}
						<a href="{%if termino_lectura %}/dislike/{{libro.id}} {%else%}/alerta/calificarlo {%endif%}"><i
								class="fa fa-thumbs-down fa-3x desactivado"></i></a>
						<a href="{%if termino_lectura %}/like/{{libro.id}} {%else%}/alerta/calificarlo {%endif%}"><i
								class="fa fa-thumbs-up fa-3x desactivado"></i> </a>
					{%endif%}
					<a href=/fav/{{libro.id}} class="{%if favorito%} activado {%else%} desactivado {%endif%} favorito"><i class="fas fa-star"></i></a>
			</div>
			<div class="barraPadre">
				<div class="barraHijo" style="width: {{porcentaje}}%;"></div>
			</div>
			<p class="infoPuntaje">Al {{porcentaje}}% le gusto el libro ({{votostotales}} votos)</p>
		</div>
	</div>
	<div class="columna2">
			<h1 class="titulo">{{libro.nombre}}</h1>
			<h3 class="autor">de {{libro.autor}}</h3>
			<!-- Trailer -->
			{%if trailers%}
				<div class="trailer">
					<button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Trailers
					</button>
					<div class="dropdown-menu">
						{% for trailer in trailers %}
							<a class="dropdown-item" href="/trailer/{{trailer.id}}">{{trailer.titulo}}</a>
						{%endfor%}
					</div>
				</div>
			{%endif%}
			<!-- Libro -->
			{% if disponibilidad%}
					{% if not libro.es_capitulado  %}
							<a class="btn btn-danger lectura"  style="padding-top: 1rem;" href="
							{% if libro.pdf %} ../{{ libro.pdf }}
							{% else %} /no-disponible/libro {%endif%}"> Comenzar a leer</a>
						{% if not termino_lectura  %}
							<div>
								<a class="btn btn-danger terminar"
								href="terminar_lectura/{{libro.id}}">Terminar lectura</a>
							</div>
						{% endif %}
					{% else %}
						{% if capitulos %}
							<div>
								<div class="lectura">
									<button
										class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Comenzar a leer
									</button>
									<div class="dropdown-menu ">
										{% for cap in capitulos %}
											{% if cap and cap.pdf %}
												<a class="dropdown-item  " href="../{{cap.pdf}}">Capitulo {{cap.numero_de_capitulo}}</a>
											{%else %}
												<a class="dropdown-item" href="/no-disponible/capitulo" style="color:grey">Capitulo
												{{forloop.counter}}</a>
											{% endif %}
										{%endfor%}
									</div>
								</div>
							</div>
							{% if not termino_lectura  %}
								<div>
									<div class="terminar">
										<button
											class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton"
											data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Terminar Capitulo
										</button>
										<div class="dropdown-menu">
											{% for cap in capitulos %}
												{% if cap.id in capitulos_terminados %}
													<a class="dropdown-item" href="capitulo_terminado"
													tyle='text-decoration: line-through'>Capitulo
													{{cap.numero_de_capitulo}}</a>
												{% else %}
													{% if cap and cap.pdf %}
														<a class="dropdown-item" href="terminar_capitulo/{{cap.id}}">Capitulo
														{{cap.numero_de_capitulo}}</a>
													{% else %}
														<a class="dropdown-item" style="color:grey">Capitulo {{forloop.counter}}</a>
													{% endif %}
												{% endif %}
											{% endfor %}
										</div>
									</div>
								</div>
							{% endif %}
						{% endif %}
					{% endif %}
			{%else%}
				<h3>Lo sentimos pero este libro no se encuentra disponible</h3>
			{%endif%}
		</div>
		<div class="columna3">
			<!-- Comments Area Start -->
				<h4 class="comentario">Comentarios</h4>
				{% if not comentarios %}
				<p>Todavia nadie ha comentado en este libro :)</p>
				{% endif %}
				<ol class="area-comentarios">
					{% for comentario in comentarios %}
					<!-- Single Comment Area -->
					<li class="single_comment_area">
						<div class="comment-wrapper d-md-flex align-items-start">
							<!-- Comment Meta -->
							<div class="comment-author">
								<img class="comment-img" src="../{{comentario.perfil.foto}}">
							</div>
							<!-- Comment Content -->
							<div class="comment-content">
								<h5>{{comentario.perfil.nickname}}
									{% if comentario.perfil.id == request.session.perfil %}
										<button  class='borrar' type="reset"
										onclick="window.location.href = 'borrar_comentario/{{comentario.id}}'"><i class="fas fa-times"></i></button>
									{% endif %} </h5>
								<p class="fecha ">{{comentario.fecha}}</p>
								<p class="comment-txt">{{comentario.texto}}</p>
							</div>
						</div>
					</li>
					{% endfor %}
				</ol>
			<!-- Leave A Comment -->
			<div class="comentarios">
					<form method="POST">
						{% csrf_token %}
						{% if termino_lectura %}
							{{ form_comentario }}
							<button class="btn btn-success enviar" style="background-color:darkred;" type="submit">Enviar
								Comentario</button>
						{%else %}
							<input type="hidden">
							<tr>
								<th><label for="id_texto">Comentario:</label></th>
								<td><input style="background-color: rgb(197, 193, 193);" type="text" name="texto"
										required id="id_texto" readonly> </td>
							</tr>
							<a class="btn btn-success enviar" style="background-color:darkred;"
								href='/alerta/comentarlo'>Enviar Comentario</a>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
