{% extends "padre.html" %}

{% load static %}

{% block title %}
Libro
{% endblock %}


{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
  rel="stylesheet">

<body id="page-top">
  <div id="home" class="intro route bg-image "
    style="background-image: url('{% static 'foto_libro/maquiavelo.jpeg' %}')">
    <div class="overlay-itro libro-principal">
      <div class="contenedor container">
        <h3 style="color: blanchedalmond;" class="titulo">El principe</h3>
        <p class="descripcion">
          El príncipe es un tratado político del siglo XVI del diplomático y teórico político italiano Nicolás
          Maquiavelo. Según la correspondencia de Maquiavelo, una versión parece haber sido distribuida en 1513,
          usando el título en latín De Principatibus.​ </p>
        <button role="button" class="boton"></i>Leer</button>
        <button role="button" class="boton"><i class="fas fa-info-circle"></i>Más información</button>
      </div>
    </div>
  </div>

  <section class="blog-mf sect-pt4 route">
    <div class="libros-recomendados contenedor container">
      <div class="row">

        <div class="col-sm-12 indicadores ">
          <h3>Libros</h3>
          <div class="contenedor-titulo-controles">
            <div class="contenedor-principal">
              <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i
                  class="fas fa-angle-left"></i></button>
              <div class="contenedor-carousel">
                <div class="carousel">
                  {% for libro in libros %}
                  <div class="libro">
                    {% for key, value in fotos_libros.items %}
                    {% ifequal key libro.id %}
                    {% static "" as baseUrl %}
                    <a href="/libro/{{libro.id}}"><img src="{{ baseUrl }}/{{value}}" alt="" weight="300"
                        height="200"></a>
                    {% endifequal %}

                    {% endfor %}
                  </div>
                  {% endfor %}
                </div>
              </div>
              <button role="button" id="flecha-derecha" class="flecha-derecha"><i
                  class="fas fa-angle-right"></i></button>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <h3>Libros Recomendados</h3>
          <div class="contenedor-titulo-controles">
            <div class="contenedor-principal">
              <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i
                  class="fas fa-angle-left"></i></button>
              <div class="contenedor-carousel">
                <div class="carousel">
                  {% for libro in libros %}
                  <div class="libro">
                    {% for key, value in fotos_libros.items %}
                    {% ifequal key libro.id %}
                    {% static "" as baseUrl %}
                    <a href="/libro/{{libro.id}}"><img src="{{ baseUrl }}/{{value}}" alt="" weight="300"
                        height="200"></a>
                    {% endifequal %}

                    {% endfor %}
                  </div>
                  {% endfor %}
                </div>
              </div>
              <button role="button" id="flecha-derecha" class="flecha-derecha"><i
                  class="fas fa-angle-right"></i></button>
            </div>
          </div>
        </div>
      </div>
  </section>



  {% endblock %}