{% extends "padre.html" %}

{% load static %}


{% block title %}
Help
{% endblock %}


{% block content %}
 


<body id="page-top">

	<section id="perfil" class="about-mf sect-pt4 route">

		<div class="box-shadow-full">
			<div class="row">
				<div class="col-sm-12">

					<h1>{{libro.nombre}}</h1>
					<br />
					<p> ISBN: {{libro.ISBN}}</p>
					<br />
					<p> Autor: {{libro.autor.nombre}}</p>
					<br />
					<p> Cantidad de capitulos: {{libro.numero_de_capitulos}}</p>
					<div class="row">
						{% if not libro.es_capitulado  %}
							{% if libro.pdf %}
							<a class="btn btn-danger col-sm-2 " href="../{{ libro.pdf }}"> Comenzar a leer</a>
							{% endif %}
							{% if not termino_lectura  %}
							<a style='margin-left: 30px; 'class="btn btn-danger col-sm-2 " href="terminar_lectura/{{libro.id}}">Terminar lectura</a>
							{% endif %}
						{% else %}
							{% if capitulos %}
							<div class="dropdown ">
								<button style='margin-left: 20px; margin-right: 10px;' class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Comenzar a leer 
								</button>
								<div class="dropdown-menu col-sm-2 ">
									{% for cap in capitulos %}
										{% if cap.pdf %}
											<a class="dropdown-item  col-sm-2" href="../{{cap.pdf}}">Capitulo
												{{cap.numero_de_capitulo}}</a>

										{%else %}
										<a class="dropdown-item " href="">Capitulo
											no disponible</a>
										{% endif %}
									{%endfor%}
								</div>
							</div>
									{% if not termino_lectura  %}
										<div class="dropdown ">
											<button style='margin-left: 20px; margin-right: 10px;' class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton"
												data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Terminar Capitulo
											</button>
											<div class="dropdown-menu">
												{% for cap in capitulos %}
													{% if cap.id in capitulos_terminados %}
													<a class="dropdown-item col-sm-12" href="capitulo_terminado" style="color:grey">Capitulo {{cap.numero_de_capitulo}}</a>
													{% else %}
														<a class="dropdown-item col-sm-12" href="terminar_capitulo/{{cap.id}}">Capitulo {{cap.numero_de_capitulo}}</a>
													{% endif %}
												{% endfor %}
											</div>
										</div>
									{% else %}
										<p> Has terminado el libro, felicidades!</p>
									{% endif %}

							{% endif %}
						{% endif %}
					</div>
					<p>Cantidad de paginas: {{libro.cant_paginas}}</p>
					<br />
					<p> Genero: </p>
					<ul>
						{% for  genero in libro.genero.all%}

						<li style="color: black;">{{genero.nombre}}</li>

						{% endfor %}
					</ul>
					<br />
					<p> Editorial: {{libro.editorial.nombre}}</p>
					<a href=/fav/{{libro.id}}>{%if favorito%}Sacar{%else%}Marcar{%endif%} como favorito</a>



	</section>
	

	<section class="about-mf sect-pt4 route  gazette-post-discussion-area section_padding_100 ">
		
			<div class="row justify-content-center">
				<div class="col-12 col-md-8">
					<!-- Comment Area Start -->
					<div class="comment_area  clearfix">
						<div class="gazette-heading">
							<h4 class="font-bold">Comentarios</h4>
						</div>

						<ol>
							{% for comentario in comentarios %}
							<!-- Single Comment Area -->
							<li class="single_comment_area">
								<div class="comment-wrapper d-md-flex align-items-start">
									<!-- Comment Meta -->
									<div class="comment-author">
										<img class= "comment-img"src="../{{comentario.perfil.foto}}">
									</div>
									<!-- Comment Content -->
									<div class="comment-content">
										<h5>{{comentario.perfil.nickname}}</h5>
										<span class="comment-date font-pt">{{comentario.fecha}} {% if comentario.perfil.id == request.session.perfil %}
											<button style='margin-left: 500px;' class='btn  btn-danger' type="reset" onclick="window.location.href = 'borrar_comentario/{{comentario.id}}'">Borrar</button>
											{% endif %} </span>
										<p>{{comentario.texto}}</p>
									</div>
								</div>
							</li>
							{% endfor %}
						</ol>
					</div>

					{% if termino_lectura  %}
					<!-- Leave A Comment -->
					<div class="leave-comment-area clearfix">
						<div class="comment-form">
							<div class="gazette-heading">
								<h4 class="font-bold">Deja tu comentario</h4>
							</div>
							<form method="POST">
								{% csrf_token %}
								{{ form_comentario }}
								<button class="btn btn-success" style="background-color:darkred;" type="submit">Enviar
									Comentario</button>
							</form>
						</div>
					</div>
					{% endif %}

				</div>
			</div>
	</section>

	{% endblock %}
