{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {# Cargamos la librería #}
  {% load bootstrap4 %}

  {# CSS Bootstrap #}
  {% bootstrap_css %}
  <meta charset="utf-8">
  <title>Bookflix</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
          Theme Name: DevFolio
          Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
          Author: BootstrapMade.com
          License: https://bootstrapmade.com/license/
        ======================================================= -->
</head>

{% include "barra.html" %}

{% if not estoy_en_home  %}
<style type="text/css">
  body {
    color: white;
  }

  p {
    color: black;
  }

  nav.navbar {
    background-color: #CC1414;
    padding-top: 15px;
  padding-bottom: 15px;
  }

  li {

    color: black;
  }
</style>
{% endif %}



{% block content %}

{% endblock %}



<!-- JavaScript Libraries -->
<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'lib/popper/popper.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/counterup/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'lib/counterup/jquery.counterup.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
<script src="{% static 'lib/typed/typed.min.js' %}"></script>
<!-- Contact Form JavaScript File -->
<script src="{% static 'contactform/contactform.js' %}"></script>

<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'js/main.js' %}"></script>
{# JS y jQuery Bootstrap #}
{% bootstrap_javascript jquery='full' %}
{% block scripts %}
{% endblock %}
</body>

</html>