{% extends "padre.html" %}

{% load static %}


{% block title %}
Search
{% endblock %}


{% block content %}



<body id="page-top">
  <section id="perfil" class="about-mf sect-pt4 route">
    <div class="box-shadow-full">
      <div class="row">
        <div class="col-sm-12">
          <h1>Resultados por {{filtro}}</h1>
          {% if libros %}
          <ul>
            {% for libro in libros %}
              <li><a href="/libro/{{libro.id}}"> {{libro.nombre}} - {{libro.autor}} - {{libro.editorial}} </a></li>
            {% endfor %}
          </ul>
          {% else %}
          <p>No se encontro ningun libro en tu busqueda</p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
